Template_code (NO USE)
Test.py
Final_Code_Menu_Tkinter_Template.py
*.txt
CV2text.py

Final_Code_CBIS_DDSM_1_Change_Format.py
Final_Code_CBIS_DDSM_2_Split_Images.py
Final_Code_CBIS_DDSM_3_Select_Technique.py
Final_Code_CBIS_DDSM_4_Data_Augmentation.py